
/*------- 6. Product style  --------*/
.product-area {
  position: relative;
}
@media only screen and (max-width: 767px) {
  .product-area.product-mb-xs {
    padding-bottom: 60px;
  }
  .product-area.pb-65 {
    padding-bottom: 30px;
  }
}

.product-tab-list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (max-width: 767px) {
  .product-tab-list.pt-30, .product-tab-list.pt-55 {
    padding: 10px 0 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .product-tab-list.pt-35, .product-tab-list.pt-60 {
    padding: 20px 0 30px;
  }
}
@media only screen and (max-width: 767px) {
  .product-tab-list.pt-35, .product-tab-list.pt-60 {
    padding: 10px 0 10px;
  }
  .product-tab-list.pb-50 {
    padding-bottom: 30px;
  }
  .product-tab-list.mb-45 {
    margin-bottom: 20px;
  }
}
.product-tab-list a {
  margin: 0 11px;
}
@media only screen and (max-width: 767px) {
  .product-tab-list a {
    margin: 0 11px 5px;
  }
}
.product-tab-list a h4 {
  font-weight: 500;
  font-size: 18px;
  color: #555;
  margin: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.product-tab-list a h4:hover {
  color: #000;
}
.product-tab-list a.active h4 {
  color: #000;
}
.product-tab-list.product-tab-fruits a h4 {
  color: #000000;
  border-bottom: 2px solid transparent;
}
.product-tab-list.product-tab-fruits a h4:hover {
  color: #6eab49;
}
.product-tab-list.product-tab-fruits a.active h4 {
  color: #6eab49;
  border-bottom: 2px solid #6eab49;
}
.product-tab-list.product-tab-cake a h4 {
  color: #000000;
  border-bottom: 2px solid transparent;
}
.product-tab-list.product-tab-cake a h4:hover {
  color: #ed59a0;
}
.product-tab-list.product-tab-cake a.active h4 {
  color: #ed59a0;
  border-bottom: 2px solid #ed59a0;
}
.product-tab-list.product-tab-pink a h4 {
  color: #000000;
  border-bottom: 2px solid transparent;
}
.product-tab-list.product-tab-pink a h4:hover {
  color: #e90042;
}
.product-tab-list.product-tab-pink a.active h4 {
  color: #e90042;
  border-bottom: 2px solid #e90042;
}
.product-tab-list.product-tab-pink2 a h4 {
  color: #000000;
  border-bottom: 2px solid transparent;
}
.product-tab-list.product-tab-pink2 a h4:hover {
  color: #ed59a0;
}
.product-tab-list.product-tab-pink2 a.active h4 {
  color: #ed59a0;
  border-bottom: 2px solid ed59a0e90042;
}
.product-tab-list.product-tab-fashion a {
  margin: 0 23px;
}
@media only screen and (max-width: 767px) {
  .product-tab-list.product-tab-fashion a {
    margin: 0 15px 5px;
  }
}
.product-tab-list.product-tab-fashion a h4 {
  color: #808080;
  font-size: 16px;
}
.product-tab-list.product-tab-fashion a h4:hover {
  color: #000000;
}
.product-tab-list.product-tab-fashion a.active h4 {
  color: #000000;
}
.product-tab-list.product-tab-white a h4 {
  color: #fff;
}

.product-wrap {
  position: relative;
}
.product-wrap .product-img {
  position: relative;
  overflow: hidden;
}
.product-wrap .product-img img {
  width: 100%;
}
.product-wrap .product-img span {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 13px;
  color: #fff;
  display: inline-block;
  line-height: 1;
  padding: 3px 11px;
  border-radius: 3px;
  font-weight: 500;
}
.product-wrap .product-img span.pink {
  background-color: #fa6bff;
}
.product-wrap .product-img span.purple {
  background-color: #a749ff;
}
.product-wrap .product-img .hover-img {
  position: absolute;
  top: 0;
  left: 50%;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(-50%, 20px);
          transform: translate(-50%, 20px);
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}
.product-wrap .product-img .product-action {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  z-index: 9;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product-wrap .product-img .product-action > div {
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 48px;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  background-color: #a749ff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.product-wrap .product-img .product-action > div:hover {
  background-color: #000;
}
.product-wrap .product-img .product-action .pro-wishlist {
  width: 48px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.product-wrap .product-img .product-action .pro-cart {
  font-size: 14px;
  width: calc(100% - 48px - 48px);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.product-wrap .product-img .product-action .pro-quickview {
  width: 48px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.product-wrap .product-img .product-action .pro-same-action a {
  color: #fff;
  font-size: 16px;
  height: 48px;
  line-height: 48px;
  display: block;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
}
.product-wrap .product-img .product-action .pro-same-action.pro-wishlist a, .product-wrap .product-img .product-action .pro-same-action.pro-quickview a {
  margin-top: 2px;
}
.product-wrap .product-content {
  margin: 20px 0 0;
}
.product-wrap .product-content h3 {
  font-size: 16px;
  margin: 0;
}
.product-wrap .product-content .product-rating {
  margin: 3px 0 3px;
}
.product-wrap .product-content .product-rating i {
  font-size: 17px;
  color: #5f5d5d;
  margin: 0 3px;
}
.product-wrap .product-content .product-rating i.yellow {
  color: #ffa900;
}
.product-wrap .product-content .product-price span {
  font-size: 15px;
  color: #000;
  font-weight: 500;
  margin: 0 9px;
  position: relative;
}
.product-wrap .product-content .product-price span::before {
  position: absolute;
  content: "";
  right: -13px;
  top: 10px;
  width: 7px;
  height: 2px;
  background-color: #000;
}
.product-wrap .product-content .product-price span:last-child:before {
  display: none;
}
.product-wrap .product-content .product-price span.old {
  color: #8e8e8e;
  text-decoration: line-through;
}
.product-wrap:hover .hover-img {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.product-wrap:hover .product-action > div {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}


/*  prodduct 2     */
.tab-filter-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 767px) {
  .tab-filter-wrap {
    display: block;
  }
  .tab-filter-wrap.mb-60 {
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .tab-filter-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .tab-filter-wrap.mb-60 {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .product-tab-list-2 {
    margin: 0 0 10px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .product-tab-list-2 {
    margin: 0 0 0px;
  }
}
.product-tab-list-2 a {
  display: inline-block;
  margin-right: 23px;
}
@media only screen and (max-width: 767px) {
  .product-tab-list-2 a {
    margin: 0 23px 10px 0;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .product-tab-list-2 a {
    margin: 0 23px 0px 0;
  }
}
.product-tab-list-2 a:last-child {
  margin-right: 0;
}
.product-tab-list-2 a h4 {
  color: #555;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  border-bottom: 2px solid transparent;
  padding-bottom: 5px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.product-tab-list-2 a h4:hover {
  color: #000000;
}
.product-tab-list-2 a.active h4 {
  color: #000000;
  border-bottom: 2px solid #000000;
}

.filter-active {
  position: relative;
}
.filter-active a {
  font-weight: 500;
  font-size: 18px;
  color: #010101;
}
.filter-active a:hover {
  color: #a749ff;
}
.filter-active a i {
  font-size: 14px;
}

.product-filter-wrapper {
  background-color: #fff;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 60px;
  padding: 45px 45px 7px;
  display: none;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .product-filter-wrapper {
    padding: 35px 25px 7px;
  }
}
@media only screen and (max-width: 767px) {
  .product-filter-wrapper {
    padding: 35px 25px 7px;
  }
}
.product-filter-wrapper .product-filter h5 {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 25px;
  padding-bottom: 7px;
  position: relative;
  text-transform: capitalize;
}
.product-filter-wrapper .product-filter h5::before {
  background-color: #000;
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  width: 20px;
}
.product-filter-wrapper .product-filter ul.sort-by li {
  margin-bottom: 3px;
}
.product-filter-wrapper .product-filter ul.sort-by li:last-child {
  margin-bottom: 0;
}
.product-filter-wrapper .product-filter ul.color-filter li {
  margin-bottom: 6px;
}
.product-filter-wrapper .product-filter ul.color-filter li:last-child {
  margin-bottom: 0px;
}
.product-filter-wrapper .product-filter ul.color-filter li input {
  width: 20px;
  height: 20px;
  display: inline-block;
  float: left;
  margin: 3px 8px 0 0;
}
.product-filter-wrapper .product-filter ul.color-filter li a {
  text-transform: capitalize;
}
.product-filter-wrapper .product-filter .product-tags ul li {
  margin-bottom: 4px;
}
.product-filter-wrapper .product-filter .product-tags ul li a {
  text-transform: capitalize;
}

.price-filter .price-slider-amount input {
  background: transparent;
  padding: 0;
  border: none;
  font-size: 16px;
  font-weight: 500;
}
.price-filter #slider-range {
  background: #dbdbdb none repeat scroll 0 0;
  border: medium none;
  border-radius: 50px;
  height: 5px;
  margin-bottom: 12px;
  margin-left: auto;
}
.price-filter #slider-range span {
  -webkit-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
}
.price-filter #slider-range .ui-slider-range {
  position: absolute;
  display: block;
  border: 0;
  background: #fa6bff none repeat scroll 0 0;
  border: none;
  -webkit-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
}
.price-filter #slider-range .ui-slider-handle {
  background: #fff none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  height: 15px;
  margin-left: 0;
  width: 15px;
  border: 4px solid #fa6bff;
}

.tab-content.jump .tab-pane {
  display: block;
  height: 0;
  opacity: 0;
  overflow: hidden;
}
.tab-content.jump .tab-pane.active {
  display: block;
  height: auto;
  opacity: 1;
  overflow: visible;
}


.product-wrap-2 {
  position: relative;
  overflow: hidden;
}
.product-wrap-2 .product-img {
  position: relative;
}
.product-wrap-2 .product-img img {
  width: 100%;
}
.product-wrap-2 .product-img span {
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  top: 20px;
  right: 20px;
}
.product-wrap-2 .product-img span.pink {
  color: #fa6bff;
}
.product-wrap-2 .product-img span.red {
  color: #ff3d2a;
}
.product-wrap-2 .product-img span.purple {
  color: #a749ff;
}
.product-wrap-2 .product-img .default-img {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.product-wrap-2 .product-img .hover-img {
  position: absolute;
  top: 0px;
  visibility: hidden;
  left: 0px;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.product-wrap-2 .product-img .product-action-2 {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.product-wrap-2 .product-img .product-action-2 a {
  display: inline-block;
  line-height: 1;
  width: 42px;
  height: 42px;
  line-height: 42px;
  font-size: 16px;
  background-color: #a749ff;
  color: #fff;
  text-align: center;
  border-radius: 50px;
  margin: 0 3px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}
.product-wrap-2 .product-img .product-action-2 a:hover {
  background-color: #fa6bff;
}
.product-wrap-2 .product-img .product-action-2.product-action-2-red a {
  background-color: #df262b;
}
.product-wrap-2 .product-img .product-action-2.product-action-2-red a:hover {
  background-color: #a749ff;
}
.product-wrap-2 .product-content-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0 0;
}
.product-wrap-2 .product-content-2 .title-price-wrap-2 h3 {
  margin: 0 0 6px;
  line-height: 1;
}
.product-wrap-2 .product-content-2 .title-price-wrap-2 h3 a {
  font-size: 16px;
  color: #000000;
}
.product-wrap-2 .product-content-2 .title-price-wrap-2 h3 a:hover {
  color: #a749ff;
}
.product-wrap-2 .product-content-2 .title-price-wrap-2 .price-2 span {
  font-size: 15px;
  color: #000000;
  margin-right: 17px;
  position: relative;
}
.product-wrap-2 .product-content-2 .title-price-wrap-2 .price-2 span.old {
  color: #fa6bff;
  text-decoration: line-through;
}
.product-wrap-2 .product-content-2 .title-price-wrap-2 .price-2 span.old.red {
  color: #ff3d2a;
}
.product-wrap-2 .product-content-2 .title-price-wrap-2 .price-2 span::before {
  position: absolute;
  content: "";
  right: -13px;
  top: 10px;
  width: 6px;
  height: 2px;
  background-color: #a5a5a5;
}
.product-wrap-2 .product-content-2 .title-price-wrap-2 .price-2 span:last-child:before {
  display: none;
}
.product-wrap-2 .product-content-2 .title-price-wrap-2.title-price-wrap-2-white h3 a {
  color: #fff;
}
.product-wrap-2 .product-content-2 .title-price-wrap-2.title-price-wrap-2-white h3 a:hover {
  color: #a749ff;
}
.product-wrap-2 .product-content-2 .title-price-wrap-2.title-price-wrap-2-white .price-2 span {
  color: #fff;
}
.product-wrap-2 .product-content-2 .title-price-wrap-2.title-price-wrap-2-white .price-2 span.old {
  color: #fa6bff;
  text-decoration: line-through;
}
.product-wrap-2 .product-content-2 .pro-wishlist-2 a {
  font-size: 16px;
  color: #929292;
  margin: 4px 0 0 10px;
  display: inline-block;
}
.product-wrap-2 .product-content-2 .pro-wishlist-2 a:hover {
  color: #a749ff;
}
.product-wrap-2:hover .hover-img {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.product-wrap-2:hover .default-img {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  visibility: hidden;
}
.product-wrap-2:hover .product-action-2 a {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.product-wrap-2.pro-glaucous-color .product-img span.glaucous {
  color: #3d6882;
}
.product-wrap-2.pro-glaucous-color .product-img .product-action-2 a {
  background-color: #3d6882;
}
.product-wrap-2.pro-glaucous-color .product-img .product-action-2 a:hover {
  background-color: #fff;
  color: #000;
}
.product-wrap-2.pro-glaucous-color .product-content-2 .pro-wishlist-2 a:hover {
  color: #3d6882;
}
.product-wrap-2.pro-glaucous-color .product-content-2 .title-price-wrap-2 h3 a:hover {
  color: #3d6882;
}
.product-wrap-2.pro-glaucous-color .product-content-2 .title-price-wrap-2 .price-2 span.old {
  color: #3d6882;
}
.product-wrap-2.pro-puce-color .product-img span.puce {
  color: #de3e3e;
}
.product-wrap-2.pro-puce-color .product-img .product-action-2 a {
  background-color: #de3e3e;
}
.product-wrap-2.pro-puce-color .product-img .product-action-2 a:hover {
  background-color: #fff;
  color: #000;
}
.product-wrap-2.pro-puce-color .product-content-2 .pro-wishlist-2 a:hover {
  color: #de3e3e;
}
.product-wrap-2.pro-puce-color .product-content-2 .title-price-wrap-2 h3 a:hover {
  color: #de3e3e;
}
.product-wrap-2.pro-puce-color .product-content-2 .title-price-wrap-2 .price-2 span.old {
  color: #de3e3e;
}

/* product hm3 */
.section-padding-1 .container-fluid {
  padding: 0 70px;
}
@media only screen and (min-width: 1200px) and (max-width: 1365px) {
  .section-padding-1 .container-fluid {
    padding: 0 15px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section-padding-1 .container-fluid {
    padding: 0 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-padding-1 .container-fluid {
    padding: 0 40px;
  }
}
@media only screen and (max-width: 767px) {
  .section-padding-1 .container-fluid {
    padding: 0 15px;
  }
}

/* product hm4 */
.hm4-section-padding .container-fluid {
  padding: 0 70px;
}
@media only screen and (min-width: 1366px) and (max-width: 1600px) {
  .hm4-section-padding .container-fluid {
    padding: 0 60px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1365px) {
  .hm4-section-padding .container-fluid {
    padding: 0 30px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hm4-section-padding .container-fluid {
    padding: 0 15px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hm4-section-padding .container-fluid {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 767px) {
  .hm4-section-padding .container-fluid {
    padding: 0 15px;
  }
}

.toggle-item-active,
.toggle-item-active2,
.toggle-item-active3,
.toggle-item-active4,
.toggle-item-active5,
.toggle-item-active6 {
  display: none;
}

.view-more {
  display: block;
  text-align: center;
  width: 100%;
}
.view-more a {
  color: #555;
  font-weight: 500;
  display: inline-block;
  border-bottom: 1px solid #cccccc;
  line-height: 1;
  padding-bottom: 2px;
  text-align: center;
}
.view-more a:hover {
  color: #a749ff;
  border-bottom: 1px solid #a749ff;
}
@media only screen and (max-width: 767px) {
  .view-more.mt-20 {
    margin-top: 0;
  }
}