* {
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

img {
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
  border: 0;
  width: 100%;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: sans-serif
}

body {
  margin: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block
}

audio, canvas, progress, video {
  vertical-align: baseline;
  display: inline-block
}

audio:not([controls]) {
  height: 0;
  display: none
}

[hidden], template {
  display: none
}

a {
  background-color: transparent
}

a:active, a:hover {
  outline: 0
}

abbr[title] {
  border-bottom: 1px dotted
}

b, strong {
  font-weight: 700
}

dfn {
  font-style: italic
}

h1 {
  margin: .67em 0;
  font-size: 2em
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

mark {
  color: #000;
  background: #ff0
}

small {
  font-size: 80%
}

sub, sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative
}

sup {
  top: -.5em
}

sub {
  bottom: -.25em
}

img {
  border: 0
}

svg:not(:root) {
  overflow: hidden
}

hr {
  box-sizing: content-box;
  height: 0
}

pre {
  overflow: auto
}

code, kbd, pre, samp {
  font-family: monospace;
  font-size: 1em
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0
}

button {
  overflow: visible
}

button, select {
  text-transform: none
}

button, html input[type=button], input[type=reset] {
  -webkit-appearance: button;
  cursor: pointer
}

button[disabled], html input[disabled] {
  cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0
}

input {
  line-height: normal
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto
}

input[type=search] {
  -webkit-appearance: none
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

legend {
  border: 0;
  padding: 0
}

textarea {
  overflow: auto
}

optgroup {
  font-weight: 700
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

td, th {
  padding: 0
}


h1 {
  margin-top: 20px;
  font-size: 38px;
  line-height: 44px;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  font-weight: 700;
}

h1 {
  margin: .67em 0;
  font-size: 2em;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1;
}

p {
  color: var(--tertiary--1);
  letter-spacing: normal;
  margin-bottom: 0;
  font-family: IBM Plex Sans, sans-serif;
  font-weight: 400;
  margin-top: 0;
}

:root {
  --tertiary--1: #04061c;
  --secondary--3: #1f5cae;
  --theme--5: #888596;
  --theme--3: #e4e1ed;
  --theme--1: #f8f7fc;
  --primary--3: #77dbfd;
  --primary--1: #fef5d3;
  --primary--2: #c2ffff;
  --theme--4: #b2aebd;
  --secondary--4: #6012d0;
  --primary--4: #c2ffff;
  --theme--2: #f3f2f7;
  --secondary--1: #f2e8ff;
  --tertiary--2: #23212c;
  --tertiary--3: black;
  --primary--5: #c99900;
  --primary-6: #3476cc;
  --secondary--2: #af77ff;
  --secondary--5: #5206bf;
  --accessible-components-dark-grey: #9b9b9b;
}

html {
  font-size: calc(0.625rem + 0.41666666666666663vw);
}

@media screen and (max-width: 1920px) {
  html {
    font-size: calc(0.625rem + 0.41666666666666674vw);
  }
}

@media screen and (max-width: 1440px) {
  html {
    font-size: calc(0.8126951092611863rem + 0.20811654526534862vw);
  }
}

@media screen and (max-width: 479px) {
  html {
    font-size: calc(0.7494769874476988rem + 0.8368200836820083vw);
  }
}


html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: sans-serif;
}


html * {
  background-attachment: scroll !important;
}


body {
  color: #333;
  background-color: #fff;
  min-height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

body {
  color: #000;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
